
.showIncomeSectionBtn .showIncomeBtn{
  text-decoration: underline;
  color:#A86537;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
pointer-events:all;
}

.showIncomeSectionBtn button{
  text-align: left;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #272727;
padding-left:0px;
pointer-events:none;
}


.showIncomeSectionBtn button:hover{
  background: none;
}

.showIncomeSectionBtn .showIncomeBtn:hover{
   text-decoration: none;
}