.changeText{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
color: #4E4E4E;
min-width:fit-content;
width:fit-content;
margin-left:1.5rem;
}

.changeText a{
  color:#326F87;
}