.date-picker input{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #272727;
}

.date-picker.opaque input{ 
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #707070;
}
.date-picker .MuiInput-formControl{
  height:40px;
  border: 1px solid #DCDDE0;
}

@media only screen and (max-width: 450px) {
.date-picker .MuiInput-formControl{
  width:280px;
}
}