.proceed{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
}

.proceed button{
  background: #F88D2B;
  width: 20rem;
  border-radius: 24px;
}

.proceed button:hover{
   background: #F88D2B;;
}
@media only screen and (max-width: 1024px) {
  .proceed button{
     width: 17rem;
  }
  }
@media only screen and (max-width: 768px) {
  .proceed button{
     width: 10rem;
  }
  }
