& {

  margin-bottom: 48px;
}

.cs-check-content {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #4E4E4E !important;
  text-align: center;
}