.ib-page{
  width:60% !important;
  max-width:60% !important;
}

@media only screen and (max-width: 450px) {
.ib-page{
  width:100% !important;
  max-width:100% !important;
}
}
.p0 {
  padding: 0rem;
}

.m0 {
  margin: 0rem;
}

.pt0 {
 padding-top: 0rem; 
}

.pl0 {
 padding-left: 0rem; 
}
.pb0{
   padding-bottom: 0rem; 
}
.mf1{
  margin-left:-1rem;
}
.radiobtnBox .Mui-checked~span .cs-check-content{
  font-weight:600;
  color:#005F7F !important;
}

.radiobtnBox .MuiRadio-root:hover{
  color:#4E4E4E;
}

.radiobtnBox .MuiRadio-root:hover~span .cs-check-content{
  color:#272727 !important;
}

.radiobtnBox {
   width: 144px;
   height:40px;
   background: #FFFFFF;
   border: 1px solid #979797;
   border-radius: 3px;
   padding-left:16px;
}
.cs-check-content {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #4E4E4E !important;
  text-align: center;
}




