.saveInformation button {
  padding: 12px 24px;
  height: 48px !important;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gPHBhdGggZD0iTTE0LjU5IDAuNTlDMTQuMjEgMC4yMSAxMy43IDAgMTMuMTcgMEgyQzAuODkgMCAwIDAuOSAwIDJWMTZDMCAxNy4xIDAuOSAxOCAyIDE4SDE2QzE3LjEgMTggMTggMTcuMSAxOCAxNlY0LjgzQzE4IDQuMyAxNy43OSAzLjc5IDE3LjQxIDMuNDJMMTQuNTkgMC41OVpNOSAxNkM3LjM0IDE2IDYgMTQuNjYgNiAxM0M2IDExLjM0IDcuMzQgMTAgOSAxMEMxMC42NiAxMCAxMiAxMS4zNCAxMiAxM0MxMiAxNC42NiAxMC42NiAxNiA5IDE2Wk0xMCA2SDRDMi45IDYgMiA1LjEgMiA0QzIgMi45IDIuOSAyIDQgMkgxMEMxMS4xIDIgMTIgMi45IDEyIDRDMTIgNS4xIDExLjEgNiAxMCA2WiIgZmlsbD0iIzAwOUFDNyIvPiA8L3N2Zz4=");
  background-repeat: no-repeat;
  background-position-y: 13px;
}