.radiobtn {
   width: 130px;
   height:40px;
   background: #FFFFFF;
   border: 1px solid #979797;
   border-radius: 3px;
   padding-left:16px;
}
.cs-check-content {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #4E4E4E !important;
  text-align: center;
}
@media only screen and (max-width: 450px) {
  .radiobtnBox {
   width: 125px !important;
  }
}