 .calculateSA button
{
width: 116px;
height: 51px;
background: #F0904E;
box-shadow: 0px 1px 1px #272727, 0px 0px 1px #272727;
border-radius: 24px;
color: #fff;
font-weight: 600 !important;
font-size: 16px;
font-family: 'Montserrat';
}
 .calculateSA button:hover{
  background-color: #F0904E;
 }
 
 .calculateSA button:disabled{
   background-color:#F9D1B6;
   color: #fff;
 }
