.summAssuredAmount{
  margin-top:2rem;
letter-spacing: -0.025em;
font-family: 'Montserrat';
font-style: normal;
font-weight: 800;

}


&.ib-field-container span{
  text-decoration: underline double !important;
  
}

